<%= stylesheet_link_tag "hn.css" %>
<h1>
  <strong>Title:</strong>
  <%= @submission.title %>
</h1>

<p>
  <em>
    <%= "By " + @submission.user %>
  </em>
</p>

<p>
  <em>
    <%= link_to '^', submission_path(@submission), method: :patch %>
    <%= @submission.votes %>  votes
  </em>
</p>

<p>
  <strong>URL:</strong>
  <%= @submission.link %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @submission.text %>
</p>

<h2>Comments</h2>
<%= render @submission.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Back', submissions_path %>